﻿@model IEnumerable<Data.Application>

@{
    ViewBag.Title = "Applications";
    ViewBag.Header = "Positions you've applied for";

    if (User.IsInRole("Company"))
    {
        ViewBag.Title = "Application Inbox";
        ViewBag.Header = "Users who have applied to your postings are shown below";
    }
}

<br />
<br />
<h2 class="title text-center">Please delete application if it gets denied</h2>
<hr class="star-dark mb-5">


<div class="row">
    @foreach (var item in Model)
    {

        <div class="offset-1 col-md-10 tiled" style="margin-bottom: 10px; background-color:darkslategrey;">
            <h2 class="text-center" style="color:white">
                @item.OpenPosition.Position.Title

            @if (!User.IsInRole("User"))
            {
                <a href="@Url.Action("Edit", new { id = item.ApplicationID })" class="float-right">
                    <i class="fa fa-wrench  text-light" aria-hidden="true"></i>
                </a>
            }
            <a href="@Url.Action("Delete", new { id = item.ApplicationID })" class="float-right">
                <i class="fa fa-trash  text-danger" aria-hidden="true"></i>
            </a>
        </h2>
        <div class="row" style="background-color:lightgrey;">
            <b class="font-weight-bold">Applicant ID: </b>
            @Html.DisplayFor(modelItem => item.UserID)
        </div>
        <div class="row" style="background-color:lightgrey;">
            <b class="font-weight-bold">Resume: </b>&nbsp; <a href="@Url.Content("~/Resumes/" + @item.ResumeFilename)" class="text-danger" target="_blank">Click to View Document</a>
        </div>
        <div class="row" style="background-color:lightgrey;">
            <b>Applied: </b>@string.Format($"{item.ApplicationDate:d}")
        </div>
        <div class="row">
            <div class="col-md-11" style="background-color:whitesmoke;">
                <b>Company Response:</b>
                @Html.DisplayFor(modelItem => item.ManagerNotes)
            </div>
            <div class="col-md-1" style="background-color:lightgrey;">
                <strong class="font-weight-bold">Status:</strong> <br />
                @if (item.IsDeclined == true)
                {
                    <i class="fa fa-times fa-4x text-danger" aria-hidden="true"></i>
                }
                else
                {
                    <i class="fa fa-hourglass-half fa-4x fa-spin text-dark" aria-hidden="true" style=""></i>
                }
            </div>
        </div>
    </div>




    }
</div>
