﻿@model Data.Position

@{
    ViewBag.Title = "Listing Manager";
    ViewBag.Header = "Make a new Position at your Company";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <br />
    <div class="form-horizontal">
        <br />
        <h2 class="title text-center">What position are you looking for?</h2>
        <hr class="star-dark mb-5">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <p class="text-center lead">Position's Title</p>
            <div class="offset-1 col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="text-center lead">Description of the Job</p>
            <div class="offset-2 col-md-8">
                @Html.TextAreaFor(model => model.JobDescription, new { @class = "form-control rounded-0", @cols="60" })
                @Html.ValidationMessageFor(model => model.JobDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="offset-4 col-md-12">
                <input type="submit" value="Create" class="btn btn-dark" />
                <a href="@Url.Action("Create", "OpenPositions")" class="btn btn-dark">Already have made a position?</a>
            </div>
        </div>

    </div>
}

<!-- Might do something with this later -->
@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
