﻿@model IEnumerable<Data.Position>

@{
    ViewBag.Title = "Index";
}

<h2>Positions</h2>

<p>
    @Html.ActionLink("[Create New]", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PositionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PositionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PositionID })
        </td>
    </tr>
}

</table>
