﻿
@{
    ViewBag.Title = "Listing Manager";
    ViewBag.Header = "Manage and view listings for positions at your company";
}



<div class="container">
    <br />
    <h2 class="text-center">Your Options</h2>
    <br />
    <div class="row">
        <div class="col-md-6">
            <h2 class="text-center"><a href="@Url.Action("Create", "OpenPositions")">Make New Listing</a></h2>
            <hr />
            <p class="lead text-center"> Put out a new listing for a position you would like to be filled at your Company/Studio. </p>

            <h2 class="text-center">OR</h2>

            <h2 class="text-center"><a href="@Url.Action("Create", "Positions")">Make New Position</a></h2>
            <hr />
            <p class="lead text-center"> Create a new Title & Job Description for a position you would like to make a listing for. </p>

            <br />
        </div>
        <div class="col-md-6">
            <h2 class="text-center"><a href="@Url.Action("Index", "OpenPositions")">View Positions Listed</a></h2>
            <hr />
            <p class="lead text-center">Here is where your current, publicly listed positions are posted. </p>
            <br />
        </div>
    </div>
    
</div>