﻿@model Data.OpenPosition

@{
    ViewBag.Title = "Listing Manager";
    ViewBag.Header = "Make a listing for a position you'd like filled at your company";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <br />
    <div class="form-horizontal">
        <br />
        <h2 class="title text-center">What position do you want to list?</h2>
        <hr class="star-dark mb-5">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group col-md-12">
            
            <div class="col-md-6 offset-3 text-center">
                @Html.DropDownList("PositionID", null, htmlAttributes: new { @class = "form-control align-content-center" })
                @Html.ValidationMessageFor(model => model.PositionID, "", new { @class = "text-danger align-content-center" })
            </div>
        </div>

        <div class="form-group">
            <div class="offset-4 col-md-12">
                <input type="submit" value="Post Listing" class="btn btn-dark" />
                <a href="@Url.Action("Create", "Positions")" class="btn btn-dark"> Need to make a new position?</a>
            </div>
        </div>
    </div>
}

<!-- Maybe do something with this later -->
@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
