﻿@model Data.OpenPosition

@{
    ViewBag.Title = "Delete Confirmation";
}

<br />

<h3 class="text-center">Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal text-center" style="font-size: 2em;">


        <dd style="color: red;">
            @Html.DisplayFor(model => model.Location.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position.JobDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position.JobDescription)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
