﻿@model IEnumerable<Data.OpenPosition>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Positions";
    ViewBag.Header = "Your currently listed positions";


    if (!User.IsInRole("Company"))
    {
        ViewBag.Title = "Open Positions";
        ViewBag.Header = "Apply to listings below";
    }


}

@if (User.IsInRole("Company"))
{
    <a class="btn btn-xl btn-outline-dark" href="@Url.Action("CompanyPositions", "OpenPositions")">
        <i class="fa fa-plus-circle mr-2"></i>
        Make New Position
    </a>
}


@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Location.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position.JobDescription)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Location.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.CompanyPic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position.JobDescription)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.OpenPositionID }) |
                @Html.ActionLink("Details", "Details", new { id=item.OpenPositionID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.OpenPositionID })
            </td>
        </tr>
    }

</table>*@

<section class="portfolio" id="portfolio">
    <div class="container">
        @*<h2 class="text-center text-uppercase text-secondary mb-0">Open Positions</h2>
        <hr class="star-dark mb-5">*@
        <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-6 col-lg-4">
                <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-@item.OpenPositionID">
                    <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                        <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                            <i class="fa fa-window-maximize fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" style="width: 100%; height: 340px; object-fit:fill;" src="@Url.Content("~/Content/img/Companies/" + @item.Location.CompanyPic)" alt="@item.Location.CompanyPic">
                    <div style="background-color : whitesmoke">
                        <p span style="font-size: 1.5em !important;" class="text-center">@Html.DisplayFor(modelItem => item.Position.Title)</p>
                        <p span style="font-size: 1.1em !important; color: darkgrey;" class="text-center">@Html.DisplayFor(modelItem => item.Location.CompanyName)</p>
                    </div>
                </a>
            </div>
        }
        </div>
    </div>
</section>

<!-- Modals -->
@foreach (var item in Model)
{
<div class="portfolio-modal mfp-hide" id="portfolio-modal-@item.OpenPositionID">
    <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-secondary text-uppercase mb-0">@Html.DisplayFor(modelItem => item.Position.Title)</h2>
                    <hr class="star-dark mb-5">
                    <img class="img-fluid mb-5" style="width: 100%; height: 500px; object-fit:fill;" src="@Url.Content("~/Content/img/Companies/" + @item.Location.CompanyPic)" alt="">
                    <p class="mb-5" style="font-size: 1.6em;">@Html.DisplayFor(modelItem => item.Position.JobDescription)</p>

                    <p class="mb-5" style="font-size: 1.6em; color:darkseagreen;">@Html.DisplayFor(modelItem => item.Location.City), @Html.DisplayFor(modelItem => item.Location.State)</p>
                    <a class="btn btn-primary btn-lg rounded-pill pull-left" href="@Url.Action("Apply", "Applications", new { OpenPositionID = item.OpenPositionID }) ">
                        <i class="fa fa-close"></i>
                        Apply for Position <i class="fa fa-check" aria-hidden="true"></i>
                    </a>
                    
                    @if (!User.IsInRole("User"))
                    {
                        <a class="btn btn-primary btn-lg rounded-pill pull-left" href="@Url.Action("Delete", new { id = item.OpenPositionID }) ">
                            <i class="fa fa-close"></i>
                            Delete this Listing <i class="fa fa-times-circle" aria-hidden="true"></i>
                        </a>
                    }
                    <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss pull-right" href="#">
                        <i class="fa fa-close"></i>
                        Close Position
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
}

