﻿@{
    ViewBag.Title = "Contact Confirmation";
}

<div class="row">
    <div class="container">
        <br />
        <hr class="star-dark mb-5">
        <div class="col-lg-12">
            <!-- Response message -->
            <h2>Thank you for contacting us, @Model.Name! We will get to you within 24 hours.</h2>
        </div>
        <hr class="star-dark mb-5">
        <br />
    </div>
</div>