﻿@model Web.Models.ContactViewModel

@{
    ViewBag.Title = "Contact";
    ViewBag.Header = "Want to get in touch? Have an issue?";
}
<div class="row">
        <div class="container">
            <br />
            <h2 class="title text-center">Leave a message and I'l get back to you</h2>
            <hr class="star-dark mb-5">
            <div class="status alert alert-success" style="display: none"></div>
           
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group col-md-6">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @placeholder = "Name" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-md-6">
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-md-12">
                    @Html.TextBoxFor(model => model.Subject, new { @class = "form-control", @placeholder = "Subject" })
                    @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-md-12">
                    @Html.TextAreaFor(model => model.Message, new { @class = "form-control", @id = "message", @rows = "8", @placeholder = "Your Message Here" })
                    @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-md-12 text-center">
                    <input type="submit" value="Send Message" class="btn btn-primary pull-right" name="submit" />
                </div>
            }

        </div>
    </div>
